<header>
      <ul class="nav-list">
          <img src="//static1.squarespace.com/static/5cb55271b914494e48f5546b/t/5d22449b59005400016749ca/1575162183637/?format=1500w" alt="bit project" class="Header-branding-logo">
          <li class="nav-style"><a href="contact.html">Contact</a></li>
          <li class="nav-style"><a href={{this.profileLink}}>{{this.profile}}</a></li>
          <li class="nav-style"><a href="/events"> Events</a></li>
          <li class="nav-style"><a href="/home">Home</a></li>
      </ul> 
</header>