<li>
    <a href="/turkey-trot">
    <div class=event-content>
        <img class="event-imgs" src="https://via.placeholder.com/150" alt="Coastal Cleanup">
        <div class="event-info">
            <h4 class="event-title">Coastal Cleanup</h4>
            <div class="event-info-1">
                <span>December 2, 2019</span>
                <span>| 2:30 PM</span>
            </div>
            <div class="event-info-2">
                <span>267 Arroyo Heights Davis, CA 95616</span>
            </div>
        </div>
    </div>
    </a>
</li>