<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="contact.css" rel="stylesheet">

</head>
<ul class="nav-list">
  <img src="//static1.squarespace.com/static/5cb55271b914494e48f5546b/t/5d22449b59005400016749ca/1575162183637/?format=1500w" alt="bit project" class="Header-branding-logo">
  <li class="nav-style"><a href="contact.html">Contact</a></li>
  <li class="nav-style"><a href="Login.html">Log in</a></li>
  <li class="nav-style"><a href="/events"> Events</a></li>
  <li class="nav-style"><a href="index.html">Home</a></li>
</ul>
<body id="page-top"><!-- Contact Section -->
  <section class="page-section-contact" id="contact">
    <div class="container-contact">

      <!-- Contact Section Heading -->
      <h2 class="text-secondary-contact">Contact Us</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

  <!-- </section> -->
  <section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
              <div class="textInSection">
                      <h2> Give </h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus lectus, vulputate vel nulla nec, sodales iaculis nisi. Aliquam cursus consectetur commodo. Praesent non sapien viverra, tempor orci id, auctor lacus. Proin gravida lectus at fringilla tempor.
                      </p>
                      <a class="btn btn-xl btn-outline-light" href="">
                        <i class="fas fa-download mr-x"></i>
                        Donate
                      </a>
                    
                  </div>
                      <div class="textInSection">
                      <h2> Join Us </h2>
                      <p>Curabitur luctus quam eget urna scelerisque, ut ornare massa vestibulum. Vestibulum consequat suscipit mauris, vel consectetur ipsum aliquam vitae. Aliquam ut libero feugiat, ullamcorper magna eu, ullamcorper augue. Sed vitae metus leo. Ut eget purus justo.</p>
                      <a class="btn btn-xl btn-outline-light" href="">
                        <i class="fas fa-download mr-2"></i>
                        Apply
                      </a>
                  </div>
                

            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <!-- Name -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="name">Name</label>
                      <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="email">Email</label>
                      <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                      <label class="control-label">Subject</label>
                      <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <button type="button" class="btn btn-light">Send Message</button>
                    
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
  </body>